name: mpesa_bridge_flutter
description: Official Flutter plugin for M-Pesa Bridge API.
version: 0.0.1
homepage: https://github.com/MK-Paul/mpesa_bridge

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  socket_io_client: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
